*.obj
*.sln
*.log
*.tlog
*.filters
*.pdb
*.stamp
*.vcxproj
build/CMakeFiles/generate.stamp.depend
build/cmake_install.cmake
build/CMakeCache.txt
build/lib/Debug/cppcore.exp
build/CMakeFiles/2.8.12.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/lib/Debug/cppcore.lib
build/CMakeFiles/2.8.12.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/2.8.12.2/CompilerIdC/CompilerIdC.exe
build/bin/Debug/cppcore.dll
*.check_cache
*.rule
build/CMakeFiles/2.8.12.2/CompilerIdC/CMakeCCompilerId.c
*.bin
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/generate.stamp.list
build/Win32/Debug/ALL_BUILD/ALL_BUILD.vcxprojResolveAssemblyReference.cache
build/bin/Debug/cppcore.ilk
*.ilk
*.suo
*.exe
*.sdf
build/cppcore_test.dir/Debug/cppcore_test.vcxprojResolveAssemblyReference.cache
build/cppcore.opensdf
build/cppcore_test.vcxproj.user
